extends layout-login

block content
  div(class="card container p-3 mt-5"  style="width: 18rem;")

    form(role='form', action='/login', method='post')

      h1(class="h3 mb-3 fw-normal") #{title}

      div(class="input-group mb-3") 
        span(class="input-group-text") @
        div(class="form-floating")
         input.form-control(type='text', id='username', name='username', placeholder='Ingrese usuario')
         label(for='username' class="form-label") Usuario/Email

      div(class="input-group mb-3")
        span(class="input-group-text fa-key") **
        div(class="form-floating")
         input.form-control(type='password', id='password', name='password', placeholder='Ingrese clave')
         label(for='password' class="form-label") Clave

      div(class="form-check m-3")
        input.form-check-input(type="checkbox" value="" id="rememberme")
        label(for='rememberme' class="form-check-label") Recuerdame

      button(class="btn btn-primary w-100 py-2 " type='submit') Ingresar
      if error 
        div(class="alert alert-danger m-3" role="alert")
          p.lead #{error}


