extends ../layout

block content
  h1= title

  body
    table(class="table")
     thead
      tr
       th(scope="col") #
       th(scope="col") id
       th(scope="col") Nombre
     tbody
       div
        each val, index in users
            tr
            td= index
            td= val.id
            td #{val.username}